*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    

}
body{
    background: black;
}
.container{
    font-family: 'Lato', sans-serif;
    box-sizing: content-box;
    display: inline-flex;
    flex-direction: column;
    width:100%;
    height:auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.container-menu{
    display: inline-flex;
    flex-direction: row-reverse;
    width:1300px;
    height:70px;
    background:black;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index:10000;
}
.container a{
    text-decoration: none;
    color: white;
}
.container a:hover{
    color:rgb(214, 175, 1);
}
.menu-section{
    width:100px;
}
.container-presentacion{
    box-sizing:border-box;
    display: inline-flex;
    width:100%;
    height:550px;
    
}
.container-letras{
    display: flex;
    width:50%;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,#0c0c0c, #000000);
    font-weight: 700;
    font-size: 50px;
    color:white;
}
.container-fondo{
    display: flex;
    width: 50%;
    height:550px;
    background-image: url("../Recursos/pexels-photo-943096.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.foto{
    width: 100%;
    height: 100%;
    background:linear-gradient(to right,rgba(2, 2,2,.9),rgba(5, 5,5,.1));
}
.circle{
    display: flex;
    justify-content: center;
    background:#4B58DE;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    -webkit-box-shadow: 47px 38px 13px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 47px 38px 13px -7px rgba(0,0,0,0.75);
box-shadow: 47px 38px 13px -7px rgba(0,0,0,0.75);
}
.circle img{
    width:180px;
    height: 170px;
}
.container-sobreMi{
    padding-top: 20px;
    display: inline-flex;
    flex-direction: column;
    width:1300px;
    height:auto;
    background:black;
    align-items: center;
    justify-content: center;
    color: white;
}
.titulo{
    margin-top: 10px;
    font-size: 20px;
    color: white;
}
.contenido{
    display: flex;
    width:80%;
    text-align: justify;
}
section{
    padding-top: 20px;
    font-size:18px;
}
.section{
    box-sizing: border-box;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height:150px;
    border-style: solid;
    border-color: rgba(214, 175, 1, 1);
    border-radius: 10px;
}
.info{
    display: inline-flex;
    width: 30%;
    height:20%;
    font-size: 18px;
}
.container-main-habilidades{
    display: flex;
    width:80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.container-habilidades{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height:150px;
}
.habilidades{
    display: inline-flex;
    flex-direction: column;
    margin-left: 5px;
    width: 130px;
    height: 90px;
    background: rgba(19, 19, 19, 0.842);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    scale: 1;
    transition: all 1s;
}
.habilidades img{
    width:70px;
    height: 60px;
}
.flechas{
    opacity:.4;
    scale:1;
    transition: all 1s;
}
.flechas:hover{
    scale:1.2;
    opacity:1;
}
.footer{
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    display:flex;
    flex-direction: column;
    width:100%;
    height:100px;
    background: #0c0c0c;
    color: white;
}
.footer-nombre{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.footer-info{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.footer-info div{
    font-size: 16px;
    height: 26px;
    margin-right: 15px;
    padding-right: 5px;
    border-right: 1px solid white;
}
.redes{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}
.redes img{
    object-fit: contain;
    width:25px;
    height:25px ;
}
.redes a{
    margin-left:7px;
}
